<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Blog</title>
    <!-- font-awesome cdn attached -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- google fonts cdn -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- custom css link -->
    <link rel="stylesheet" href="./stylesheets/main.css">
</head>
<body>
    <div id="pageWrapper">
        <header>
            <nav>
                <div class="hamBergerMenu"><i class="fa-solid fa-bars"></i></div>
                <div class="navMenu"><a href="#">My Food</a></div>
                <div class="navMenu"><a href="#">Mail</a></div>
            </nav>
        </header>
    </div>
</body>
</html>