<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Blog</title>
    <!-- font-awesome cdn attached -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- google fonts cdn -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- custom css link -->
    <link rel="stylesheet" href="./stylesheets/main.css">
</head>
<body>
    <div id="pageWrapper">
        <header>
            <nav>
                <div class="hamBergerMenu"><i class="fa-solid fa-bars"></i></div>
                <div class="navMenu"><a href="#">My Food</a></div>
                <div class="navMenu"><a href="#">Mail</a></div>
            </nav>
        </header>
        <section class="mainSec"></section>
        <footer id="footer">
            <div class="row">
                <div class="col col_1">
                    <h3>Footer</h3>
                    <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                    <span>Powered by <a target="_blank" class="underlineText" href="https://www.w3schools.com/w3css/default.asp">w3.css</a></span>
                </div>
                <div class="col col_2">
                    <h3>BLOG POSTS</h3>
                    <div class="row paddedBox">
                        <div class="imgContainer">
                            <img src="./assets/images/workshop.jpg" alt="workshop">
                        </div>
                        <div class="row">
                            <div class="column">
                                <span class="bold">Lorem</span>
                                <span>Sed mattis nunc</span>
                            </div>
                        </div>
                    </div>
                    <div class="row paddedBox">
                        <div class="imgContainer">
                            <img src="./assets/images/gondol.jpg" alt="workshop">
                        </div>
                        <div>
                            <div class="column">
                                <span class="bold">Ipsum</span>
                                <span>Praes tinci sed</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col_3">
                    <h3>POPULAR TAGS</h3>
                    <ul class="options">
                        <li class="active center_align">Travel</li>
                        <li class="center_align">New York</li>
                        <li class="center_align">Dinner</li>
                        <li class="center_align">Salmon</li>
                        <li class="center_align">France</li>
                        <li class="center_align">Drinks</li>
                        <li class="center_align">Ideas</li>
                        <li class="center_align">Flavours</li>
                        <li class="center_align">Cuisine</li>
                        <li class="center_align">Chicken</li>
                        <li class="center_align">Dressing</li>
                        <li class="center_align">Fried</li>
                        <li class="center_align">Fish</li>
                        <li class="center_align">Duck</li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>